.leaflet-container {
  position: absolute;
  z-index: 0;

  .leaflet-popup {
    filter: var(--drop-shadow);

    &--for-pin {
      margin-bottom: calc(var(--pin-width) * 1.5 + 20px);
    }

    .leaflet-popup-content-wrapper {
      border-radius: 3px;
      box-shadow: none;

      .leaflet-popup-content {
        margin: 30px;

        .face {
          width: 40px;
          border-radius: 3px;
        }
      }
    }

    a.leaflet-popup-close-button {
      color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin-top: 15px;
      margin-right: 15px;
      border-radius: 100%;
      transition: background-color 0.2s;

      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.2);
        color: inherit;
      }
    }
  }

  .leaflet-popup-tip {
    box-shadow: none;
  }

  .leaflet-control-container .leaflet-control-attribution {
    background: var(--color-background);

    a {
      color: var(--color-primary);
    }
  }

  .leaflet-marker-icon {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;

    .pin-default {
      // bottom center is on location
      margin-left: calc(-1 * var(--pin-width) / 2);
      margin-top: calc(-1 * var(--pin-width) * 1.5);
    }

    .pin-move {
      // centered over location
      margin-left: calc(-1 * var(--pin-width) / 2);
      margin-top: calc(-1 * var(--pin-width) * 0.75);
    }

    .pin {
      display: block;
      position: relative;
      width: var(--pin-width);

      svg {
        height: auto;
        width: 100%;

        path:nth-child(1) {
          fill: var(--color-primary);
        }
        path:nth-child(2) {
          fill: var(--color-background);
        }
      }
    }
  }
}
